<!-- history.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, width=device-width">    
  <title>game Library - History</title>
  <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='icon.jpg') }}" rel="icon">

</head>
<body class="ht">
  <div class="container">
    <h1 class="title">History</h1>

    <div class="collapse" id="navbar">
      <ul class="navbar">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('games') }}">Game Library</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('request_game') }}">Request game</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('history') }}">History</a></li>
      </ul>
      <ul class="navbar-log" id="so">
        <li class="log">
          <p class="log-name">Profile: {{ session['email'] }}</p>
          <a class="log-link" href="{{ url_for('signout') }}">Log Out</a>
        </li>
      </ul>        
    </div>

    {% if session['email'] == 'admin@gmail.com' %}
      <!-- Display all members' information -->
      <h2>All Members Information</h2>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Contact</th>
            <th>Email</th>
            <th>Age</th>
          </tr>
        </thead>
        <tbody>
          {% for member in members %}
            <tr>
              <td>{{ member[0] }}</td>
              <td>{{ member[1] }}</td>
              <td>{{ member[2] }}</td>
              <td>{{ member[3] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>  
    {% else %}
      <!-- Display member's information -->
      <h2>Member Information</h2>
      <p>Name: {{ member[0] }}</p>
      <p>Age: {{ member[1] }}</p>
    {% endif %}

    <!-- Display game requests -->
    <h2>Game Requests</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Publisher</th>
        </tr>
      </thead>
      <tbody>
        {% for request in game_requests %}
          <tr>
            <td>{{ request[1] }}</td>
            <td>{{ request[2] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="dev">
      <p>Developed by : Kushan Eaman Thilakarathne</p>
      <a class="social-icon" href="https://www.linkedin.com/in/kushan-eaman-thilakarathne-9258b71a3"><img src="../static/linkedinlogo.png" alt="linkedin logo" width="50px"></a>
      <a class="social-icon" href="https://www.instagram.com/kush_ketzi/"><img src="../static/instalogo.png" alt="instergram logo" width="30px"></a>
      <a class="social-icon" href="https://www.facebook.com/kushan.e.thilakarathna"><img src="../static/Fblogo.png" alt="Fb logo" width="50px"></a>
    </div>
  </div>
</body>
</html>